:root {
    --blanco: #FFFCF2;
    --piel: #ccc5b9;
    --gris: #403D39;
    --negro: #252422;
    --naranja: #EB5E28;
}

/*-----------------------------------------------*/
/*        ESTILOS DE LA PAGINA FORMULARIO        */
/*-----------------------------------------------*/


/*--------------- ANIMACIONES--------------------*/



/* ----------------------------------------------- */


body {    
    background-color: var(--naranja);
    height: 200vh;
    padding-top: 5vw;
    font-family: "Sour Gummy";
}


/*--------------------------------------------------*/
/*                DISEÑO CAJA PRINCIPAL             */
/*--------------------------------------------------*/

#form-box {
    background-color: var(--blanco);
    border-radius: 50px;
    margin: auto;
    width: 80vw;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);
    
}

#form-box .label {
    color: var(--negro);
}

#form-box .input {
    background-color: var(--piel);
    border-radius: 50px;
    color: var(--gris);
    max-width: 500px;
}

#form-box .input::placeholder {
    color: var(--gris);
}

#selecciones,
#comentarios {
    background-color: var(--piel);
    color: var(--gris);
}

#form-box .button {
    background-color: var(--gris);
    border-radius: 40px;
    transition: scale 300ms ease;
}

#form-box button a {
    color: inherit;
}

#form-box .button:hover {
    scale: 1.1;
}


/*-----------------------------------------------*/
/*        ESTILOS DE LA PAGINA PRINCIPAL         */
/*-----------------------------------------------*/

html {
    height: 200vh;
    background-color: #EB5E28;
}

.body {

    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    border: 2px solid green;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 12vh;
    background-color: #403D39;
    margin: 0;
}

.menu h1 {
    top: 10vh;
    font-size: 7vw;
    color: black;
}

.logo {
    position: relative;
    width: 15vw;
    right: 6vw;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    bottom: -2vw;
    background-color: #403D39;
    height: 13vh;
    z-index: 99999;
}


.card:hover {
    transform: translateY(-1.3vw);
    box-shadow: 0 20px 30px #7a7a7a;
    animation-name: animation;
    animation-duration: 0.5s;
}

.precio {
    position: relative;
    z-index: 999;
    color: black;
    display: flex;
    top: 50vw;
    left: 2vw;
    font-size: 7vw;
}

main {
    position: absolute;
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    position: relative;
    right: 6vw;
    top: 15vw;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 96%;
    left: 10vw;
    
}

.card {
    background-color: #252422;
    width: 85%;
    left: 7vw;
    margin: 2vw;
}